<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ws.kaoshi.dao.RoleDao">

    <select id="queryRoleNamesByUsername" resultSets="java.util.Set" resultType="string">
            select role_name
    from user inner join urs
    on user.user_id=urs.uid
    inner join roles on urs.rid=roles.role_id
    where user.username=#{username}
     </select>

</mapper>

