
<!DOCTYPE html>

<html lang="en">

<head>
    <title>在线考试系统 </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <script type="text/javascript" rel="stylesheet" src="/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" rel="stylesheet" src="/js/ajaxUtil.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <script type="text/javascript" src="/layui/layui.js" ></script>
</head>
<body style="background-color: #576768;">
    <h1 class="error" >在线考试系统</h1>
	<!---728x90--->
    <div class="w3layouts-two-grids" >
	<!---728x90--->
        <div class="mid-class">
            <div class="img-right-side">
                
                <img src="/img/b01.png" class="img-fluid" alt="">
            </div>
            <div class="txt-left-side">
                <h2> 登录 </h2>
                <form action="/user/login" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return xss()">
                    <div class="form-left-to-w3l">
                       <input type="text" name="userName" placeholder=" 用户名" required="" lay-verify="required|number|username" id="username">

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l ">

                        <input type="password" name="userPwd" placeholder="密码" required="" lay-verify="required|password" id="password">
                        <div class="clear"></div>
                    </div>

                    <div class="btn">
                        <button type="submit">登录</button>
                    </div>
                </form>
        
                <div class="clear"></div>
            </div>
        </div>
    </div>
	<!---728x90--->
    <footer class="copyrigh-wthree">
        <p>
            © 在线考试系统
        </p>
		<p>
		    2017110440 王赛
		</p>
    </footer>
</body>

</html>